* {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 4em;
}

h2 {
  font-size: 2em;
  text-align: center;
  padding-left: 1%;
  font-size: 5em;
}

p {
  font: size 70px;
  padding-left: 1%;
}

li {
  padding-left: 1%;
  font-size: 2em;
}

ul {
  font-family: fantasy;
}
