.navbar {
  height: 80px;
  padding: 24px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.nav-links > li {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}